@import "tailwindcss";
@import "tw-animate-css";
@import "./tailwind-typography";
@import "./font";

@theme {
  /*** Font stacks ***/
  --font-text: OBOSText, __OBOSText_Fallback, sans-serif;
  --font-display: OBOSDisplay, __OBOSDisplay_Fallback, sans-serif;

  /*** Widths ***/
  --container-width: 92rem;
  --container-gutter-width: 1rem;

  /*** Colors ***/
  --color-black: #333;
  --color-white: #fff;
  --color-gray: #818181;
  --color-gray-dark: #595959;
  --color-gray-light: #e6e6e6;
  --color-gray-lightest: #f1f1f1;
  --color-sky: #bedfec;
  --color-sky-light: #deeff5;
  --color-sky-lightest: #ebf5f9;
  --color-mint: #cdece2;
  --color-mint-light: #e6f5f0;
  --color-mint-lightest: #f0f9f6;
  --color-blue: #0047ba;
  --color-blue-light: #bedfec;
  --color-blue-lightest: #deeff5;
  --color-blue-dark: #002169;
  --color-green: #008761;
  --color-green-dark: #00524c;
  --color-green-light: #cdece2;
  --color-green-lightest: #e6f5f0;
  --color-red: #c0385d;
  --color-red-light: #faedef;
  --color-orange: #e8a74a;
  --color-orange-light: #f8e5c9;
  --color-yellow: #fff5d2;

  /** Breakpoints ***/
  --breakpoint-3xl: 108rem;
  --breakpoint-4xl: 120rem;
}

@layer base {
  @font-face {
    font-family: OBOSText;
    font-weight: 400;
    font-style: normal;
    src: url("https://www.obos.no/fonts/OBOSText-Regular.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: OBOSText;
    font-weight: 400;
    font-style: italic;
    src: url("https://www.obos.no/fonts/OBOSText-Italic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: OBOSText;
    font-weight: 500;
    font-style: normal;
    src: url("https://www.obos.no/fonts/OBOSText-Medium.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: OBOSDisplay;
    font-weight: 600; /* SemiBold */
    font-style: normal;
    src: url("https://www.obos.no/fonts/OBOSDisplay-SemiBold.woff2")
      format("woff2");
    font-display: swap;
  }

  html {
    @apply text-black antialiased font-normal font-text;
  }

  b {
    font-weight: 500;
  }

  strong {
    font-weight: 500;
  }

  a {
    text-decoration: underline;
  }

  ::selection {
    @apply bg-mint text-black;
  }
}

/*** Layout ***/
@utility page-layout {
  @apply flex flex-col min-h-screen;
}

@utility page-layout-main {
  @apply bg-white grow;
}

/** Grid column spacing */
@utility layout-grid-gap-x {
  @apply sm:gap-x-4 md:gap-x-9 lg:gap-x-12 xl:gap-x-16;
}

/** Grid base, defines the grid columns and their spacing */
@utility layout-grid {
  @apply layout-grid-gap-x sm:grid-cols-14 grid;
}

/** Grid container that applies the grid columns, grid spacing and the container component class */
@utility layout-grid-container {
  @apply layout-grid container;
  /** Make content of the grid span the mid 12 columns as a default (unless it has another explicit col-span class) */
  & > * {
    @apply sm:col-start-2 sm:col-span-12;
  }
}

@utility layout-subgrid-* {
  @apply layout-grid-gap-x grid;
}

@utility layout-subgrid-1 {
  @apply grid-cols-1;
}
@utility layout-subgrid-2 {
  @apply grid-cols-2;
}
@utility layout-subgrid-3 {
  @apply grid-cols-3;
}
@utility layout-subgrid-4 {
  @apply grid-cols-4;
}
@utility layout-subgrid-5 {
  @apply grid-cols-5;
}
@utility layout-subgrid-6 {
  @apply grid-cols-6;
}
@utility layout-subgrid-7 {
  @apply grid-cols-7;
}
@utility layout-subgrid-8 {
  @apply grid-cols-8;
}
@utility layout-subgrid-9 {
  @apply grid-cols-9;
}
@utility layout-subgrid-10 {
  @apply grid-cols-10;
}
@utility layout-subgrid-11 {
  @apply grid-cols-11;
}
@utility layout-subgrid-12 {
  @apply grid-cols-12;
}

@utility layout-gap-x {
  @apply gap-x-2;
  @apply layout-grid-gap-x;
}

@utility layout-gap-y {
  @apply gap-y-4 sm:gap-y-6 md:gap-y-8 lg:gap-y-10 xl:gap-y-12;
}

@utility container {
  @apply w-full px-(--container-gutter-width) mx-auto max-w-(--container-width);
}

@utility container-prose {
  @apply w-full px-(--container-gutter-width) mx-auto;
  max-width: 45.5rem;
}

/*** Typography styles ***/
@utility heading-xl {
  @apply font-display font-semibold text-[2.8125rem]/[3.625rem] lg:text-[3.9375rem]/[5.125rem];
}

@utility heading-l {
  @apply font-display font-semibold text-[1.8125rem]/[2.75rem] lg:text-[2.25rem]/[3.5rem];
}

@utility heading-m {
  @apply font-text font-medium text-[1.4375rem]/[2.25rem] lg:text-[1.625rem]/[2.5625rem];
}

@utility heading-s {
  @apply font-text font-medium text-[1.1875rem]/[1.875rem] lg:text-[1.3125rem]/[2.125rem];
}

@utility heading-xs {
  @apply font-text font-medium text-[1.125rem]/[1.75rem] lg:text-[1.1875rem]/[1.9375rem];
}

@utility paragraph {
  @apply text-[1rem]/[1.625rem];
}

@utility lead {
  @apply font-medium text-[1.4375rem]/[2.25rem] lg:text-[1.625rem]/[2.5625rem];
}

@utility blockquote {
  @apply font-medium italic grid grid-cols-[3rem_1fr] gap-x-[0.4375rem] pt-4 text-[1.625rem]/[2.5625rem] lg:text-[1.4375rem]/[2.25rem] before:text-[4.6875rem]/[1.6875rem] before:font-display before:not-italic before:content-["“"];
}

@utility description {
  @apply text-[0.875rem]/[1.375rem] lg:text-[0.875rem]/[1.4375rem];
}

/* Focus styles */
@utility outline-focus {
  @apply outline-2 outline-black;
}

@utility outline-focus-offset {
  @apply outline-focus outline-offset-2;
}

@utility outline-focus-inset {
  @apply outline-focus -outline-offset-4;
}

@utility ring-focus {
  @apply ring-2 ring-black;
}

@utility ring-focus-offset {
  @apply ring-focus ring-offset-2;
}

/** Hides the scrollbar visually */
@utility scrollbar-hidden {
  /* For IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  /*** Link List component styles ***/
  .link-list-container {
    @apply @container;

    &:has([data-slot="heading"]) {
      .link-list,
      [data-slot="link-list"] {
        @apply overflow-visible;
      }
    }

    [data-slot="heading"] {
      @apply p-1.25;

      [data-slot="link"] {
        @apply py-2.25;
        & > svg {
          @apply text-base;
        }
      }

      &:not(:has([data-slot="link"])) {
        @apply my-2.25;
      }
    }

    [data-slot="link-list"] {
      @apply @sm:gap-x-4 @md:gap-x-9 @lg:gap-x-12 @xl:gap-x-16;

      &:has([data-slot="link-list-item"]:nth-child(6)):not(
          :has([data-slot="link-list-item"]:nth-child(9):last-child)
        ):not(:has([data-slot="link-list-item"]:nth-child(11))) {
        @apply @4xl:grid-cols-2;
      }
      &:has([data-slot="link-list-item"]:nth-child(9):last-child),
      &:has([data-slot="link-list-item"]:nth-child(11)) {
        @apply @4xl:grid-cols-3;
      }
    }
  }

  .link-list,
  [data-slot="link-list"] {
    /**
     * Hides dividers at the top of the list (overflow-y)
     * while preventing arrow icons from overflowing container when animated to the right (overflow-x)
     */
    @apply min-w-fit overflow-hidden grid auto-rows-max gap-y-px;
  }

  .link-list-item,
  [data-slot="link-list-item"] {
    /** Creates divider lines that works in any grid layout and with the focus ring */
    @apply after:-top-px relative p-1.25 after:absolute after:right-0 after:left-0 after:h-px after:w-full after:bg-gray-light;
    [data-slot="link"] {
      @apply paragraph;
    }
  }

  .link-list-container,
  .link-list-item,
  [data-slot="link-list-item"] {
    [data-slot="link"] {
      @apply flex w-full cursor-pointer justify-between gap-x-2 py-3.5 font-medium no-underline focus-visible:outline-focus;
    }
  }

  .link-list-container [data-slot="link"],
  [data-slot="link-list-item"] [data-slot="link"] {
    &:hover:not([download]):not([rel~="external"]) svg {
      @apply motion-safe:translate-x-1;
    }
    &[download]:hover svg {
      @apply motion-safe:translate-y-1;
    }
    &[rel~="external"]:hover svg {
      @apply motion-safe:-translate-y-0.5 motion-safe:translate-x-0.5;
    }
  }

  .form-steps,
  [data-slot="form-steps"] {
    counter-reset: form-step-counter;
    @apply flex gap-x-3 lg:flex-col lg:gap-y-14 max-w-full min-w-0 max-lg:pt-9 relative;

    [data-slot="form-step"] {
      counter-increment: form-step-counter;
      @apply flex items-center gap-x-3 relative;

      &::before {
        content: counter(form-step-counter, decimal);
      }

      [data-slot="disclosure"] [slot="trigger"],
      &::before {
        @apply shrink-0 font-semibold size-8 border-2 rounded-full border-blue-dark grid place-content-center;
      }

      /** Place the focus styles on the ::before element instead of the link, since the link text is not visible on smaller screens */
      &:has([data-slot="link"]:focus-visible) {
        &::before {
          @apply outline-focus-offset;
        }
      }

      [data-slot="link"]:not(:is(& [data-slot="disclosure"] *)) {
        @apply focus-visible:outline-none;
        @apply after:absolute after:h-11 max-lg:after:w-11;
      }

      &[data-state="current"],
      &[data-state="completed"] {
        &::before {
          @apply bg-blue-dark text-white;
        }
      }

      &[data-state="completed"] {
        svg {
          @apply text-white absolute scale-60 border-2 border-white bg-blue-dark rounded-full left-4 -top-2;
        }
      }

      &[data-state="pending"]::before {
        @apply bg-white text-blue-dark;
      }

      &:not(:last-child) {
        [data-slot="progress-bar"] {
          @apply w-4 max-lg:grow lg:w-14 lg:rotate-90 lg:absolute lg:-left-3 lg:px-1.5 lg:-bottom-[calc(100%-2px)];
        }

        &[data-state="pending"] {
          @apply max-lg:shrink;

          [data-slot="progress-bar"] {
            @apply max-lg:shrink;
          }

          [data-slot="link"] {
            @apply after:-top-1.75 after:left-0 after:right-0;
          }
        }
      }

      &:not([data-state="current"])
        > *:is([data-slot="text"], [data-slot="link"]) {
        @apply max-lg:opacity-0;
      }

      & > *:is([data-slot="text"], [data-slot="link"]) {
        @apply max-lg:absolute;
      }

      &[data-state="current"] {
        @apply max-lg:justify-center;
        & > *:is([data-slot="text"], [data-slot="link"]) {
          @apply max-lg:-top-full;
          &::after {
            @apply max-lg:-bottom-[200%] max-lg:ml-9.5;
          }
        }
      }
    }

    [data-slot="disclosure"] {
      @apply sm:hidden;
      [data-slot="progress-bar"] {
        @apply hidden;
      }

      [data-slot="disclosure-panel"] {
        @apply absolute left-0 right-0 pt-2 transition-none!;
        [data-slot="form-steps-collapsable"] {
          @apply grid gap-y-3 rounded-lg border p-4;
        }
      }

      [slot="trigger"] {
        @apply focus-visible:outline-focus-offset;
      }
    }

    &:has([data-slot="form-step"]:nth-child(5)) {
      &:has(
          [data-slot="form-step"]:nth-child(5):is(
              :not([data-state="completed"])
            )
        ) {
        [data-state="pending"] {
          &:nth-child(n + 4) {
            &:not([data-state="current"] + *) {
              @apply max-sm:-ml-9;
            }
            [data-slot="progress-bar"] {
              @apply max-sm:sr-only;
            }
          }
          &:nth-child(4)::before {
            @apply max-sm:z-4;
          }
          &:nth-child(5)::before {
            @apply max-sm:z-3;
          }
          &:nth-child(6)::before {
            @apply max-sm:z-2;
          }
          &:nth-child(7)::before {
            @apply max-sm:z-1;
          }
        }
      }

      &:has([data-slot="form-step"]:nth-child(3):is([data-state="completed"])) {
        [data-slot="form-step"] {
          &:nth-child(2) {
            @apply max-sm:static;
            &::before,
            & > *:not([data-slot="disclosure"], [data-slot="progress-bar"]) {
              @apply max-sm:hidden!;
            }
            [data-slot="form-steps-collapsable"] {
              [data-state="pending"] {
                @apply hidden;
              }
            }
          }
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            &[data-state="completed"] {
              @apply max-sm:invisible max-sm:absolute;
            }
          }
        }
      }
    }
  }
}
