@code-obos:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_15368_eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJhdXRobmQiLCJjdHgiOiJ6RjlKakJVZlZHMVExTjhMbG1ZTlFLWWtVRlhGR0VaVzN3M1Nub3JkampNXzJpNWJaZlhfRFlnIiwiZXhwIjoxNzg3MTI2NDgxLCJpYXQiOjE3ODcxMjI4ODEsImlzcyI6ImdpdGh1YiIsImp0aSI6IjVmY2QxY2NhLWU3ZjgtNGE5Ny1iMDNiLWY0YTliOTQ3M2Y0OSIsInZlciI6M30.khYnE8KcVSaI1CRkKEbiE6h0mlfKf27eqlw5NXYzX9q0N_o4xWXxLtvWF4UF6EEGf7Fb2EQCmnXIpVOjvDSEUg
