@code-obos:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_15368_eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJhdXRobmQiLCJjdHgiOiIxRFhuMldXZFlOOWlQUjVTVFEwRE5Md0o4ZVZaNGlZTzB2SjFXY09ZRmpidVBuY1FUdGpOQmxFIiwiZXhwIjoxNzg3NzUwOTE4LCJpYXQiOjE3ODc3NDczMTgsImlzcyI6ImdpdGh1YiIsImp0aSI6IjA1NDZhMTllLTkxZWItNDkyOS04YjZkLWQyNjJlMzhjNjRjZCIsInZlciI6M30.u0jOIi6a6ldUKN4pIBSFMiCf5BoZrzeuVMujcm4jggPaXStsipB2uWJZnOz6RNcossynWbWRP6JXufGxPqtr1Q
