name: Build and push image

env:
  container-registry: dktprodacr.azurecr.io
  branch-name: ${{ github.head_ref || github.ref_name }}

on:
  workflow_call:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: acr
    permissions:
      contents: read
      id-token: write
      packages: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to Azure Container Registry
        uses: ./apps/docs/dktp/acr-login
        with:
          acr-client-id: ${{ vars.ACR_CLIENT_ID }}
          tenant-id: ${{ vars.TENANT_ID }}
          subscription-id: ${{ vars.SUBSCRIPTION_ID }}

      - name: Setup npm credentials
        run: |
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: ${{env.branch-name == 'main'}}
          tags: ${{ env.container-registry }}/grunnmuren/docs:${{ github.sha }}
          build-args: |
            app_name=grunnmuren
          file: Dockerfile
          secret-files: |
            npmrc=.npmrc

      - name: Clean up npm credentials
        run: rm .npmrc

      - name: Azure logout
        uses: ./apps/docs/dktp/acr-logout
