# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    permissions:
      # write permission is required to create a github release
      contents: write
      # write permission is required for autolabeler
      # otherwise, read permission is required at least
      pull-requests: write
      # To consume code-obos packages
      packages: read
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: "https://npm.pkg.github.com"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: biome
        run: pnpm lint:ci

      - name: Build packages
        run: pnpm run build

      # It makes sense to do this on PRs to ensure the change didn't break the Storybook
      - name: Build storybook
        run: pnpm build:storybook

      # Commented out as part of getting storybook deployed with docs
      # Make this work again later
      # - name: Install Playwright
      #   run: pnpm exec playwright install --with-deps

      # - name: Serve Storybook and run tests
      #   run: |
      #     pnpm dlx concurrently -k -s first -n "SB,TEST" -c "magenta,blue" \
      #       "pnpm serve-storybook" \
      #       "pnpm dlx wait-on tcp:127.0.0.1:6006 && pnpm test"
